header {
  background: #40BF6B;
  color: #fff;
  display: flex;
  padding: 20px 0 20px 0;
}

header h1 {
  align-self: center;
  margin-left: 1em;
  font-size: 1.8em;
}

.logo {
  border-radius: 50%;
  width:40px;
  height: 40px;
  margin-left: 5%;
}

nav {
  width: 100%;
  background: #339956;
  color: #fff
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav li {
  padding: 20px 15px 20px 15px;
}

nav li.active {
  background: #CD995E;
}

nav li:hover {
  background: #40BF6B
}

@media (min-width: 720px) {
  nav li {
    padding: 20px 50px 20px 50px;
  }
}