<header role="banner">
  <img src="http://via.placeholder.com/100x100" alt="" class="logo">
  <h1>Animal shelter</h1>
</header>
<nav role="navigation">
  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:
      true}">
      <a routerLink="/">Home</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/pets">Pets</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/gallery">Gallery</a>
    </li>
  </ul>
</nav>