<footer>
  <div class="about">
    <p>
      At numquam reiciendis et. Deleniti et quia voluptas eum nesciunt sit accusamus. Illum possimus voluptate ut aut qui doloribus vel unde. Nam atque natus ab possimus voluptatum sed quis suscipit voluptates. Consequatur ut consequatur qui illum.
    </p>
    <p>{{ address.street }}, {{address.city}} {{address.zipCode}}</p>
    <p>694-347-1504</p>
  </div>
  <div class="social">
    <a href="#"><i class="fa fa-facebook-square"></i></a>
    <a href="#"><i class="fa fa-twitter-square"></i></a>
    <a href="#"><i class="fa fa-youtube"></i></a>
  </div>
</footer>
