footer {
  background: #40BF6B;
  color: #fff;
}

.social i {
  font-size: 2em;
  margin-right: 10px;
}

@media (min-width: 960px) {
  footer {
    display: flex;
  }
  .about {
    flex-basis: 50%;
  }
  .social {
    flex-basis: 50%;
    text-align: center;
  }
}