<button class="addBtn" (click)="showEditForm()">Add pet</button>

<form class="editRow" (ngSubmit)="onSubmit()" *ngIf="showForm" #form="ngForm">
  <label for="form_animal"><b>Animal</b></label>
  <input id="form_animal" type="text" [ngModel]="currentPet.animal" name="animal" required>
  <label for="form_name"><b>Name</b></label>
  <input id="form_name" type="text" [ngModel]="currentPet.name" name="name" required>
  <label for="form_gender"><b>Gender</b></label>
  <input id="form_gender" type="text" [ngModel]="currentPet.gender" name="gender">
  <label for="form_age"><b>Age</b></label>
  <input id="form_age" type="number" [ngModel]="currentPet.age" name="age" required>
  <button type="submit" class="edit">Save Changes</button>
  <button class="delete cancel" (click)="hideEditForm()">Cancel</button>
</form>
<table sortable-table (sorted)="onSorted($event)">
  <thead>
    <tr class="header">
      <th id="col-0"></th>
      <th sortable-column="id" sort-direction="asc" data-th="Animal"><span id="col-1">ID</span></th>
      <th sortable-column="animal" id="col-2">Animal</th>
      <th sortable-column="name" id="col-3">Name</th>
      <th sortable-column="gender" id="col-4">Gender</th>
      <th sortable-column="age" id="col-5">Age</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pet of pets, let i = index" data-id="{{i}}">
        <td>
          <i class="fa fa-pencil edit" (click)="onEdit($event)"></i>
          <i class="fa fa-trash delete" (click)="onDelete($event)"></i>
        </td>
        <td class="index">{{pet.id}}</td>
        <td class="row-animal">{{pet.animal}}</td>
        <td class="row-name">{{pet.name}}</td>
        <td class="row-gender">{{pet.gender}}</td>
        <td class="row-age">{{pet.age}}</td>
      </tr>
  </tbody>
</table>

