#cover {
  height: 250px;
  background: url('../../assets/images/cover.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  width: auto;
  opacity: 0.8;
}

section h2 {
  text-shadow: 2px 2px 1px rgba(150, 150, 150, 1);
  text-align: center;
}
#desc {
  background: #40BF6B;
  color: #fff;
}

.box {
  border: 1px solid #c5c5c5;
  padding: 1em;
  margin-top: 20px;
}

.box .rate {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rate-stars i {
  font-size: 0.8em;
  color: #F3671C;
}

.awards {
  text-align: center;
}

.awards img {
  height: 150px;
}

@media (min-width: 720px) {
  #cover {
    height: 400px;
  }
  .desc-cols {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 40px 0 40px
  }
  .desc-cols p {
    padding: 10px 5px;
  }
}

@media (min-width: 960px) {
  .box-wrapper {
    display: flex;
    justify-content: space-around;
  }
  .box {
    width: 300px;
  }
  footer {
    display: flex;
  }
  .about {
    flex-basis: 50%;
  }
  .social {
    flex-basis: 50%;
    text-align: center;
  }
}


