<main role="main" id="content">
  <div id="cover">
  </div>
  <section id="desc">
    <div class="bg"> </div>
      <h2> A Caring And Loving Animal Shelter </h2>
      <div class="desc-cols">
        <div class="col1">
          <p>Praesent in lectus bibendum, consequat diam in, scelerisque lectus. Fusce ligula nisi, elementum a rhoncus ac, iaculis ut nunc. Suspendisse cursus tortor sit amet eros aliquam interdum. Proin quis tellus aliquam, malesuada enim sit amet, scelerisque augue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec condimentum, orci quis condimentum aliquam, nisl nibh pulvinar dui, in dictum magna lacus non massa. Donec laoreet nisl diam, sodales aliquet sapien aliquam et. Maecenas vehicula magna a justo faucibus, eu posuere est sodales. Proin dolor arcu, tincidunt et imperdiet ac, fringilla et augue.</p>
          <p>Morbi nibh dolor, pretium id enim sit amet, sollicitudin egestas libero. Praesent tempus nisl sit amet neque congue, quis sollicitudin tortor imperdiet. Pellentesque vestibulum nisl vel vulputate posuere. Quisque porta a augue sit amet ultrices. Sed eros eros, condimentum in urna vel, cursus commodo mauris. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris ac tortor sodales, vestibulum orci sit amet, facilisis nisl. Maecenas eleifend in mauris vitae euismod. Phasellus consequat vestibulum quam.</p>
        </div>
        <div class="col2">
          <p>Praesent in lectus bibendum, consequat diam in, scelerisque lectus. Fusce ligula nisi, elementum a rhoncus ac, iaculis ut nunc. Suspendisse cursus tortor sit amet eros aliquam interdum. Proin quis tellus aliquam, malesuada enim sit amet, scelerisque augue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec condimentum, orci quis condimentum aliquam, nisl nibh pulvinar dui, in dictum magna lacus non massa. Donec laoreet nisl diam, sodales aliquet sapien aliquam et. Maecenas vehicula magna a justo faucibus, eu posuere est sodales. Proin dolor arcu, tincidunt et imperdiet ac, fringilla et augue.</p>
          <p>Morbi nibh dolor, pretium id enim sit amet, sollicitudin egestas libero. Praesent tempus nisl sit amet neque congue, quis sollicitudin tortor imperdiet. Pellentesque vestibulum nisl vel vulputate posuere. Quisque porta a augue sit amet ultrices. Sed eros eros, condimentum in urna vel, cursus commodo mauris. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris ac tortor sodales, vestibulum orci sit amet, facilisis nisl. Maecenas eleifend in mauris vitae euismod. Phasellus consequat vestibulum quam.</p>
        </div>
      </div>
  </section>
  <section class="testimonials">
    <h2>Testimonials</h2>
    <div class="box-wrapper">
      <div class="box">
        <p>Voluptatum est odio maxime quia. Veniam et qui quis maxime voluptas. Eos dignissimos eos facere impedit id quis.</p>
        <div class="rate">
          <div class="rate-stars">
            <span><i class="fa fa-star"></i></span>
            <span><i class="fa fa-star"></i></span>
            <span><i class="fa fa-star"></i></span>
            <span><i class="fa fa-star"></i></span>
            <span><i class="fa fa-star"></i></span>
          </div>
          <p>Albin Rempel</p>
        </div>
      </div>
      <div class="box">
        <p>Ut cum error iste praesentium. Nam perspiciatis enim vero quis. Provident non laboriosam at quisquam eos officia dolorem eum molestiae. Mollitia aut tempore aliquam. Ducimus quo maiores ullam aut non eum.</p>
        <div class="rate">
          <div class="rate-stars">
            <span><i class="fa fa-star"></i></span>
            <span><i class="fa fa-star"></i></span>
            <span><i class="fa fa-star"></i></span>
            <span><i class="fa fa-star"></i></span>
            <span><i class="fa fa-star"></i></span>
          </div>
          <p>Lelah Sawayn</p>
        </div>
      </div>
      <div class="box">
        <p>Aut suscipit praesentium ut quidem temporibus error non voluptatem. Sed eveniet consequatur. Alias corrupti eos in harum laborum quam repellat id ex. Laudantium expedita est velit. Laboriosam omnis est sed.</p>
        <div class="rate">
        <div class="rate-stars">
            <span><i class="fa fa-star"></i></span>
            <span><i class="fa fa-star"></i></span>
            <span><i class="fa fa-star"></i></span>
            <span><i class="fa fa-star"></i></span>
            <span><i class="fa fa-star"></i></span>
          </div>
          <p>Hiram Kunde</p>
        </div>
      </div>
    </div>
    <div class="awards">
      <img src="assets/images/badge1.jpg" alt="" class="badge">
      <img src="assets/images/badge2.jpg" alt="" class="badge">
      <img src="assets/images/badge3.jpg" alt="" class="badge">
    </div>
  </section>
</main>