<app-modal #modal></app-modal>
<div id="wrapper">
  <main role="main" id="content">
    <div id="gallery">
      <div
        class="gallery-item"
        *ngFor="let Image of images"
        [ngStyle]="setMyStyles(Image)"
        (click)="modal.show($event)"
        >
      </div>
    </div>
  </main>
</div>