main {
  margin: 30px 5px 30px 5px;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 8px;
  margin: 0 auto;
}

.gallery-item {
  background: rgb(36, 36, 36);
  color: rgb(65, 65, 65);
  background-size: cover;
  background-position: center;
  transition: all ease-in-out 300ms;
  position: relative;
  z-index: 10
}

.gallery-item::before {
    content: '';
    display: block;
    background: rgb(0, 0, 0);
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all ease-in-out 300ms;
    z-index: -1;
}

.gallery-item:hover::before {
  opacity: 0.5;
  cursor: pointer;
}
.gallery-item:hover::after {
  content: '\02194';
  font-size: 80px;
  position: absolute;
  transform: translate3d(-50%, -50%, 0) rotate(-45deg);
  color: #fff;
  left: 50%;
  top: 50%;
  display: block;
}

#load-more {
  border-style: none;
  border: 1px solid #cecece;
  background: transparent;
  width: 100px;
  position: relative;
  left: calc(50% - 50px);
  top: -10px;
  padding: 0.3em;
  cursor: pointer;
}
@media (min-width: 320px) {
  #gallery {
    grid-gap: 10px;
    grid-template-columns: repeat(1,1fr);
  }
}

@media (min-width: 600px) {

  #gallery {
    grid-gap: 20px;
    max-width: 960px;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: minmax(100px, auto);
  }

  .gallery-item {
    background-position: top left;
  }

  .medium {
    grid-row: span 2;
    grid-column: span 2;
  }

  .large {
    grid-row: span 3;
    grid-column: span 3;
  }

  .tall {
    grid-row: span 3;
    grid-column: span 2;
  }

  .wide {
    grid-row: span 2;
    grid-column: span 3;
  }
}

