.backdrop {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left:0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 80%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 15%;
  top: 20%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

.modal img {
  width: 100%;
}

@media (min-width: 600px) {
  .modal {
    max-width: 900px;
    left: calc(50% - 450px);
    top: calc(50% - 400px)
  }
}