/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  font-family: Lato, Arial, sans-serif;
  margin: 0;
  padding: 0;
  transition: all, 0.4s ease-in-out;
}

ul, h1, h2, h3, h4 {
  margin: 0;
}

p {
  padding: 0.5em 0;
}

a {
  text-decoration: none;
  color: #fff;
}

section, footer {
  padding: 1em 1.5em;
}